*
*/**

.*
.*/**

!*/**/.gitkeep
!.*/**/.gitkeep

!5LAWS
!AUTHOR
!LICENSE
!README
!VERSION

!.editorconfig
!.gitconfig
!.gitignore
!.gitattributes
!.gitmessage

!releases/
!releases/*.zip

# START BINARIES
!binaries/
!binaries/windows/

!binaries/windows/*.exe
# END BINARIES

# START INTERFACES
!interfaces/
!interfaces/*-cli/

!interfaces/**/*.hash

!interfaces/*-cli/zig/
!interfaces/*-cli/zig/dist/
!interfaces/*-cli/zig/dist/windows/
!interfaces/*-cli/zig/dist/windows/*.exe
!interfaces/*-cli/zig/src/
!interfaces/*-cli/zig/src/interfaces/
!interfaces/*-cli/zig/src/*.zig

!interfaces/**/interfaces/
!interfaces/**/interfaces/*-cli/

!interfaces/**/interfaces/*-cli/zig/
!interfaces/**/interfaces/*-cli/zig/dist/
!interfaces/**/interfaces/*-cli/zig/dist/windows/
!interfaces/**/interfaces/*-cli/zig/dist/windows/*.exe
!interfaces/**/interfaces/*-cli/zig/src/
!interfaces/**/interfaces/*-cli/zig/src/interfaces/
!interfaces/**/interfaces/*-cli/zig/src/*.zig
# END INTERFACES

# START SERVICES
!services/

!services/*-service/

!services/**/*.hash

!services/*-service/go/
!services/*-service/go/dist/
!services/*-service/go/dist/windows/
!services/*-service/go/dist/windows/*.exe
!services/*-service/go/src/
!services/*-service/go/src/channels/
!services/*-service/go/src/data/
!services/*-service/go/src/engines/
!services/*-service/go/src/handlers/
!services/*-service/go/src/libraries/
!services/*-service/go/src/utilities/
!services/*-service/go/src/models/
!services/*-service/go/src/routes/
!services/*-service/go/src/services/
!services/*-service/go/src/settings/
!services/*-service/go/src/**/*.go
!services/*-service/go/src/**/*.mod

!services/**/services/
!services/**/services/*-service/

!services/**/services/*-service/go/
!services/**/services/*-service/go/dist/
!services/**/services/*-service/go/dist/windows/
!services/**/services/*-service/go/dist/windows/*.exe
!services/**/services/*-service/go/src/
!services/**/services/*-service/go/src/channels/
!services/**/services/*-service/go/src/data/
!services/**/services/*-service/go/src/engines/
!services/**/services/*-service/go/src/handlers/
!services/**/services/*-service/go/src/libraries/
!services/**/services/*-service/go/src/utilities/
!services/**/services/*-service/go/src/models/
!services/**/services/*-service/go/src/routes/
!services/**/services/*-service/go/src/services/
!services/**/services/*-service/go/src/settings/
!services/**/services/*-service/go/src/**/*.go
!services/**/services/*-service/go/src/**/*.mod
# END SERVICES

# START TESTS
!tests/
!tests/*-test/

!tests/*-test/go/
!tests/*-test/go/src/
!tests/*-test/go/src/tests
!tests/*-test/go/src/models
!tests/*-test/go/src/settings
!tests/*-test/go/src/libraries
!tests/*-test/go/src/utilities
!tests/*-test/go/src/**/*.go
!tests/*-test/go/src/**/*.mod
# END TESTS

# START TOOLS
!tools/

!tools/windows/
!tools/windows/*.exe
# END TOOLS
