*
*/**

.*
.*/**

!*/**/.gitkeep
!.*/**/.gitkeep

!5LAWS
!AUTHOR
!LICENSE
!README
!VERSION

!.editorconfig
!.gitconfig
!.gitignore
!.gitattributes
!.gitmessage

!releases/
!releases/*.zip

# START BINARIES
!binaries/
!binaries/windows/

!binaries/windows/*.exe
# END BINARIES

# START INTERFACES
!interfaces/
!interfaces/*-cli/

!interfaces/*-cli/zig/
!interfaces/*-cli/zig/dist/
!interfaces/*-cli/zig/dist/windows/
!interfaces/*-cli/zig/dist/windows/*.exe
!interfaces/*-cli/zig/src/
!interfaces/*-cli/zig/src/interfaces/
!interfaces/*-cli/zig/src/*.zig

!interfaces/**/interfaces/
!interfaces/**/interfaces/*-cli/

!interfaces/**/interfaces/*-cli/zig/
!interfaces/**/interfaces/*-cli/zig/dist/
!interfaces/**/interfaces/*-cli/zig/dist/windows/
!interfaces/**/interfaces/*-cli/zig/dist/windows/*.exe
!interfaces/**/interfaces/*-cli/zig/src/
!interfaces/**/interfaces/*-cli/zig/src/interfaces/
!interfaces/**/interfaces/*-cli/zig/src/*.zig
# END INTERFACES

# START SERVICES
!services/

!services/*-service/

!services/*-service/go/
!services/*-service/go/channels/
!services/*-service/go/data/
!services/*-service/go/dist/
!services/*-service/go/dist/windows/
!services/*-service/go/dist/windows/*.exe
!services/*-service/go/engines/
!services/*-service/go/handlers/
!services/*-service/go/libraries/
!services/*-service/go/utilities/
!services/*-service/go/models/
!services/*-service/go/routes/
!services/*-service/go/services/
!services/*-service/go/settings/
!services/*-service/go/**/*.go
!services/*-service/go/**/*.mod

!services/**/services/
!services/**/services/*-service/

!services/**/services/*-service/go/
!services/**/services/*-service/go/channels/
!services/**/services/*-service/go/data/
!services/**/services/*-service/go/dist/
!services/**/services/*-service/go/dist/windows/
!services/**/services/*-service/go/dist/windows/*.exe
!services/**/services/*-service/go/engines/
!services/**/services/*-service/go/handlers/
!services/**/services/*-service/go/libraries/
!services/**/services/*-service/go/utilities/
!services/**/services/*-service/go/models/
!services/**/services/*-service/go/routes/
!services/**/services/*-service/go/services/
!services/**/services/*-service/go/settings/
!services/**/services/*-service/go/**/*.go
!services/**/services/*-service/go/**/*.mod
# END SERVICES

# START TESTS
!tests/
!tests/*-test/

!tests/*-test/go/
!tests/*-test/go/tests
!tests/*-test/go/models
!tests/*-test/go/settings
!tests/*-test/go/libraries
!tests/*-test/go/utilities
!tests/*-test/go/**/*.go
!tests/*-test/go/**/*.mod
# END TESTS

# START TOOLS
!tools/

!tools/windows/
!tools/windows/*.exe
# END TOOLS
